.container
  %h1 Hello World
  .card{:style => "width: 18rem;"}
    %img.card-img-top{:alt => "...", :src => "..."}/
    .card-body
      %h5.card-title Card title
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      %a.btn.btn-primary{:href => "#"} Go somewhere
  %i.fas.fa-home
  %br/
  = link_to  privacy_policy_path, class: "btn btn-lg btn-warning" do
    %i.fas.fa-file-word
    Privacy Policy
  = link_to  courses_path, class: "btn btn-lg btn-success" do
    %i.fa.fa-book
    Course
